<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Todo App</h1>
	<form action="{{ url_for('add') }}" method="POST">
		<div style="font-size: 14pt">
			Add item here <input style="padding: 4pt; margin: 8pt" type="text" name="todoitem"><input style="padding: 4pt; margin: 8pt" type="submit" name="" value="ADD">
		</div>
	</form>

	<!-- for incomplete items-->
	<div style="font-size: 14pt">
		Incomplete Items
		<ul>
			{% for item in incompletes %}
			<li>{{ item.text }}<a style="padding: 4pt; margin: 8pt" href="{{ url_for('complete', id=item.id) }}">Mark as done</a></li>
			{% endfor %}
		</ul>
	</div>

	<!-- for complete items-->
	<div style="font-size: 14pt">
		Completed Items
		<ul>
			{% for item in completes %}
			<li>{{ item.text }}<a style="padding: 4pt; margin: 8pt" href="{{ url_for('complete', id=item.id) }}">Undo</a></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>